terraform {
  backend "s3" {
    bucket         = "my-infra-tfstate"
    key            = "stacks/application/compute/terraform.tfstate"
    region         = "us-east-2"
    dynamodb_table = "db-terraform-lock"
    encrypt        = true
    profile        = "default"
  }
}
